@media(max-width:1440px){

    .tituloLogo{
        top: 2.5rem;
        left: 8.125rem;
        font-size: 35px;
    }

    .logo{
        width: 100px;
        margin-left: 1.875rem;
        margin-top: 1.875rem;
        left: 10px;
    }

    .menu{
        padding: .9375rem;
        font-size: 20px;
    }
}